<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= page.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="supported-color-schemes" content="light dark">
    <meta name="color-scheme" content="light dark">
    <!--[if IE ]><script src="/js/ieshim.js"></script><![endif]-->
    <style>
<%- include("partials/inline.css") -%>
    </style>
    <style media="(prefers-color-scheme: dark)">
<%- include("partials/inline-dark.css") -%>
    </style>
    <meta name="theme-color" content="#a9a6ad">
    <meta name="view-transition" content="same-origin">
<% if (page.description) { %>
    <meta name="description" content="<%= page.description %>">
<% } %>
    <meta name="fediverse:creator" content="@dpogue@mastodon.social">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="alternate" href="/feed.xml" type="application/rss+xml" />
  </head>
  <body bgcolor="#2d2b36" text="#cacace" link="#f7ba84">
    <%- include('partials/header.html.ejs') %>

    <main>
      <%- body %>
    </main>

    <%- include('partials/footer.html.ejs') %>
  </body>
</html>
